body {background-color:#ffe4e1;
}

h1 {
  font-family:'Special Elite', fantasy;
  text-align: center;
  color: black;
}
div.container {
  width:100%;
  border: 1px solid black;
}

header, footer {
    padding: 10em;
    color: black;
    background-image: url("typewriter2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clear: left;
    text-align: center;
    font-size:100%;
    font-family: 'Special Elite', fantasy;
}
nav {
    float: left;
    max-width: 360px;
    margin: 0;
    padding: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff66b3;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    font-family:'Inconsolata', cursive;
}
h2 {
  font-family:'Inconsolata', cursive;
  text-align:center;
}
